# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# editor
.vscode/

# C & Embedded Build Artifacts
*.o
*.elf
*.bin
*.hex
*.map
*.i
*.d
*_asan
build/
typing_speed

*.swp
*.swo
